.sheet-annoncement{
    width: 95%;
    height: auto;
}

.bannier-house{
    width: 82%;
    height: 415px;
    border-radius: 25px;
    margin: auto;
}

.picture-house{
    width: 100%;
    height: 415px;
    border-radius: 25px;
}
.main-info, .secondary-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-annoncement{
    width: 82%;
    margin: auto;
}