.bloc-about {
  width: 75%;
  height: auto;
  margin: 30px auto;
  overflow: hidden;
}

.head-bloc {
  width: 100%;
  background-color: #ff6060;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

.head-bloc-txt {
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.txt-bloc {
  background-color: #f6f6f6;
  color: #ff6060;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  padding: 30px 20px 15px 20px;
  line-height: 34.22px;
  border-radius: 5px;
}

.no-txt {
  animation: moveTxt 0.7s ease-in-out forwards;
  transform-origin: top;
}

@keyframes moveTxt {
  0% {
    transform: scaleY(1);
  }

  95% {
    transform: scaleY(0);
  }
  100% {
    transition: scaleý(0);
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    
  }
}

.addAnimation {
  animation-name: transformIcon;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes transformIcon {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(180deg);
  }
}

@media screen and (max-width: 798px) {
  .bloc-about {
    width: 95%;
    margin: 20px auto;
  }

  .head-bloc {
    font-size: 13px;
  }

  .head-bloc-about {
    padding: 10px;
  }

  .txt-bloc {
    padding: 10px;
    font-size: 12px;
    line-height: 17.11px;
  }
}
