.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 90%;
  margin: auto;
}

.logo-header{
  cursor: pointer;
}

@media screen and (max-width: 798px) {
  .header {
    width: 95%;
    padding: 20px 0px;
  }

  .logo-header {
    width: 40%;
    padding-left: 15px;
  }
}
