.detail {
  position: relative;
  width: 45%;
  height: auto;
  margin-bottom: 30px;
}

.heading-box {
  background-color: #ff6060;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  padding: 15px 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  cursor: pointer;
}

.description,
.list-element {
  min-height: 125px;
  background-color: #f6f6f6;
  color: #ff6060;
  font-weight: 400;
  font-size: 18px;
  border-radius: 10px;
  line-height: 25.67px;
  padding: 20px 15px;
  margin: 0;
}

.fa-chevron-up {
  color: #fff;
}

@media screen and (max-width: 798px) {
  .heading-box {
    font-size: 13px;
  }

  .description, .element {
    font-size: 12px;
    line-height: 17.11px;
  }

}

.no-display {
  display: none;
}

.addAnimation {
  animation-name: transformIcon;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes transformIcon {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(180deg);
  }
}
