.detail{
    position: relative;

}

.heading-box{
    background-color: #FF6060;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.description{
    background-color: #f6f6f6;
    color: #FF6060;
    padding: 30px 15px;
    position: relative;
    z-index: -1;
    top: -25px;
    font-weight: 400;
    font-size: 18px;
    border-radius: 10px;
    
}

.element{
    background-color: #f6f6f6;
    color: #FF6060;
    padding: 20px 15px;
    position: relative;
    z-index: -1;
    border-radius: 10px;
    top: -25px;
    font-weight: 400;
    font-size: 18px;
}

.fa-chevron-up{
    color: #FFF;
}


@media screen and (max-width : 798px){
    
    .heading-box{
        font-size: 13px;
    }
    
    .description{
        font-size: 12px;
    }
    
    .element{
        padding: 5px 15px;
        font-size: 12px;
    }
    
}

