.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation a {
  font-size: 22px;
  font-weight: 500;
  color: #ff6060;
  padding-bottom: 1px;
  margin-right: 20px;
  text-align: right;
}

.nav-active{
  border-bottom: 1px solid #ff6060;
  
}

@media screen and (max-width: 798px) {
  .navigation a {
    font-size: 12px;
    text-align: center;
  }
}
