.owner{
    display: flex;
    justify-content: flex-end;;
    align-items: center;

}

.name-owner{
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
}

.picture-profil{
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-left: 20px;
}

@media screen and (max-width : 798px){
    .owner{
        order: 4;
    }

    .name-owner{
        font-size: 14px;
    }
    
    
    .picture-profil{
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-left: 20px;
    }
    
}